In [1]:
import numpy as np

# Looping Through Arrays

In [45]:
arrA = np.array([[11, 12, 13], [14, 15, 16]])
arrA

array([[11, 12, 13],
       [14, 15, 16]])

In [6]:
print(arrA)

[[11 12 13]
 [14 15 16]]

In [28]:
for x in arrA:
    print(x * 2)

[22 24 26]
[28 30 32]

In [37]:
for x in arrA:
    for y in x:
        print(y * 2)

22
24
26
28
30
32

The difference between the results for the first loop and the second loop is that loop is running against the outer dimension and the second loop is running on the inner dimension.

In [39]:
for x in arrA:
    for y in x:
        loop_result = x * 2
        print(loop_result)

[22 24 26]
[22 24 26]
[22 24 26]
[28 30 32]
[28 30 32]
[28 30 32]

In [41]:
# The result is different because its looping through each element in the outer dimension resulting in 3 rows of the same values multiplied by two.

# Joining and Stacking Arrays

In [63]:
joined_array_1 = np.concatenate((arrA, arrA), axis=0)
joined_array_1

array([[11, 12, 13],
       [14, 15, 16],
       [11, 12, 13],
       [14, 15, 16]])

In [64]:
print(joined_array_1)

[[11 12 13]
 [14 15 16]
 [11 12 13]
 [14 15 16]]

In [65]:
joined_array_2 = np.concatenate((arrA, arrA), axis=1)
joined_array_2

array([[11, 12, 13, 11, 12, 13],
       [14, 15, 16, 14, 15, 16]])

In [66]:
stacked_array_1 = np.stack((joined_array_1, joined_array_1))
stacked_array_1

array([[[11, 12, 13],
        [14, 15, 16],
        [11, 12, 13],
        [14, 15, 16]],

       [[11, 12, 13],
        [14, 15, 16],
        [11, 12, 13],
        [14, 15, 16]]])

In [67]:
print(stacked_array_1)

[[[11 12 13]
  [14 15 16]
  [11 12 13]
  [14 15 16]]

 [[11 12 13]
  [14 15 16]
  [11 12 13]
  [14 15 16]]]

In [72]:
stacked_array_2 = np.stack((joined_array_1, joined_array_2))
stacked_array_2

# The error message I get is value error. That only integer scalar arrays can be converted to a scalar index meaning all input arrays must have the same shape

ValueError: all input arrays must have the same shape

In [70]:
another_joined_array = np.concatenate((joined_array_1, arrA))
another_joined_array

array([[11, 12, 13],
       [14, 15, 16],
       [11, 12, 13],
       [14, 15, 16],
       [11, 12, 13],
       [14, 15, 16]])

In [73]:
another_2 = np.concatenate((joined_array_1, arrA), axis=1)
another_2
# The error message is basically saying that joined_array_1 has two a size of 4 or total number of elements in the array of 4 while arrA has a total number of elements in the array of 2

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 0, the array at index 0 has size 4 and the array at index 1 has size 2

In [74]:
new1 = np.vstack((arrA,arrA))
new1

array([[11, 12, 13],
       [14, 15, 16],
       [11, 12, 13],
       [14, 15, 16]])

In [86]:
# vstack function is stacking the array in columns that are vertically

In [77]:
print(new1)

[[11 12 13]
 [14 15 16]
 [11 12 13]
 [14 15 16]]

In [76]:
new2 = np.hstack((arrA,arrA))
new2

array([[11, 12, 13, 11, 12, 13],
       [14, 15, 16, 14, 15, 16]])

In [87]:
# hstack function is stacking the array in rows that are horizontal

In [80]:
print(new2)

[[11 12 13 11 12 13]
 [14 15 16 14 15 16]]

In [81]:
new3 = np.dstack((arrA,arrA))
new3

array([[[11, 11],
        [12, 12],
        [13, 13]],

       [[14, 14],
        [15, 15],
        [16, 16]]])

In [88]:
# dstack function is stacking the array in height making it 3 dimensional in depth

In [84]:
print(new3)

[[[11 11]
  [12 12]
  [13 13]]

 [[14 14]
  [15 15]
  [16 16]]]

# Splitting Arrays

In [96]:
splitsky = np.array_split(joined_array_1, 2)
splitsky

[array([[11, 12, 13],
        [14, 15, 16]]),
 array([[11, 12, 13],
        [14, 15, 16]])]

In [97]:
print(splitsky)
# The result is two arrays with two dimensions each

[array([[11, 12, 13],
       [14, 15, 16]]), array([[11, 12, 13],
       [14, 15, 16]])]

In [94]:
spliterino = np.array_split(joined_array_1, 3)
spliterino

[array([[11, 12, 13],
        [14, 15, 16]]),
 array([[11, 12, 13]]),
 array([[14, 15, 16]])]

In [95]:
print(spliterino)

[array([[11, 12, 13],
       [14, 15, 16]]), array([[11, 12, 13]]), array([[14, 15, 16]])]

In [98]:
# The result is three arrays with two dimensions each

# Searching and Replacing Array Values

In [99]:
result_1 = np.where(arrA % 2 == 0, arrA, 'odd')
print(result_1)

[['odd' '12' 'odd']
 ['14' 'odd' '16']]

# Sorting and Filtering Arrays

In [100]:
arrB = np.array([[7, 6],[13, 5], [7, 3]])
arrB

array([[ 7,  6],
       [13,  5],
       [ 7,  3]])

In [101]:
arrB_sorted = np.sort(arrB)
arrB_sorted

array([[ 6,  7],
       [ 5, 13],
       [ 3,  7]])

In [102]:
print(arrB_sorted)

[[ 6  7]
 [ 5 13]
 [ 3  7]]

In [103]:
print(arrB)

[[ 7  6]
 [13  5]
 [ 7  3]]

In [105]:
z = arrB < 7 
arrC = arrB[z]
print(arrC)

[6 5 3]

In [106]:
y = arrB >= 7
arrD = arrB[y]
print(arrD)

[ 7 13  7]