In [1]:
import numpy as np
import pandas as pd

# Basic Aggregations

In [64]:
data = {'Product': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C'], 
'Region': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West', 'North'], 
'Units_Sold': [10, 15, 20, 5, 10, 15, 10, 5, 15], 
'Price': [100, 200, 150, 100, 200, 150, 100, 200, 150]}

In [65]:
df_sales = pd.DataFrame(data)

In [66]:
df_sales

  Product Region  Units_Sold  Price
0       A  North          10    100
1       B  South          15    200
2       C   East          20    150
3       A   West           5    100
4       B  North          10    200
5       C  South          15    150
6       A   East          10    100
7       B   West           5    200
8       C  North          15    150

In [67]:
df_sales["Revenue"] = df_sales["Units_Sold"] * df_sales["Price"]

In [68]:
print(df_sales)

  Product Region  Units_Sold  Price  Revenue
0       A  North          10    100     1000
1       B  South          15    200     3000
2       C   East          20    150     3000
3       A   West           5    100      500
4       B  North          10    200     2000
5       C  South          15    150     2250
6       A   East          10    100     1000
7       B   West           5    200     1000
8       C  North          15    150     2250

In [69]:
list = ["Units_Sold", "Revenue"]

In [70]:
df_sales['Sum'] = df_sales[list].sum(axis=1)
print(df_sales)

  Product Region  Units_Sold  Price  Revenue   Sum
0       A  North          10    100     1000  1010
1       B  South          15    200     3000  3015
2       C   East          20    150     3000  3020
3       A   West           5    100      500   505
4       B  North          10    200     2000  2010
5       C  South          15    150     2250  2265
6       A   East          10    100     1000  1010
7       B   West           5    200     1000  1005
8       C  North          15    150     2250  2265

In [71]:
df_sales['Avg'] = df_sales[list].mean(axis=1)
print(df_sales)

  Product Region  Units_Sold  Price  Revenue   Sum     Avg
0       A  North          10    100     1000  1010   505.0
1       B  South          15    200     3000  3015  1507.5
2       C   East          20    150     3000  3020  1510.0
3       A   West           5    100      500   505   252.5
4       B  North          10    200     2000  2010  1005.0
5       C  South          15    150     2250  2265  1132.5
6       A   East          10    100     1000  1010   505.0
7       B   West           5    200     1000  1005   502.5
8       C  North          15    150     2250  2265  1132.5

# Grouping Data

In [79]:
df_sales.groupby(["Product"])[["Units_Sold","Revenue"]].sum()

         Units_Sold  Revenue
Product
A                25     2500
B                30     6000
C                50     7500